body {
    background: url(/img/stitched_wool/stitched_wool.png) repeat 0 0;
}

#BikeContainer {
    text-align: center;
}

#cycleRouteHead {
    text-align: left;
    font-size: 25px;
}

#viewBikes {
    padding: 50px;
}

#monitor {
    padding: 30px;
}
#signup {
    padding:100px;;
}
#signupHeading {
    font-size: 20px;
    text-align: left;
}