#BikeContainer {
    text-align: center;
    font-size: 25px;
    font-family: Arial;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#heading {
    font-size: 40px;
    background-color: grey;
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: Arial;
}

#dropdown {
    font-size: 30px;
    text-align: center;
    margin: 50px;
    padding: 20px;
    font-family: Arial;
    background-color: grey;
}